{%- macro button(form, item) -%}
  <div class="wrapper">
    <span href="#" id="{{ item[0] }}" data-value="{{ item[0] }}"
          class="island unclickable choice{{ ' selected' if form.device_data[item[0]] }}"
          title="{{ DEVICE_LOOKUP[item[0]] }}">
      <h3>{{ item[1] }}</h3>
      {# <div class="listing-footer"><input type="checkbox"></div> #}
    </a>
  </div>
{%- endmacro %}

<section id="submit-payment-type" class="island tabbable">
  <form action="{{ addon.get_dev_url('payments') }}" method="post">
    {{ csrf() }}
    <input type="hidden" name="toggle_paid" value="" />

    <div class="free tab {{ 'active' if not is_paid }}">
      {% if waffle.switch('allow-b2g-paid-submission') %}
        <h2 id="free-tab-header"><a href="#">{{ _('Free') }}</a></h2>
      {% else %}
        <h2>{{ _('App Compatibility') }}</h2>
      {% endif %}
      <div class="error">{{ form.errors.free }}</div>
      {%- for item in form.fields['free_platforms'].choices -%}
        {{ button(form, item) }}
      {%- endfor %}
      {% if is_paid %}
        <div id="free-tab-save" class="update-payment-type">
          <input type="submit" data-type="free" value="{{ _('Change to Free') }}" />
          {{ _('Changing to Free will put your app back into review.') }}
        </div>
      {% endif %}
    </div>

    {% if waffle.switch('allow-b2g-paid-submission') %}
      <div class="paid tab {{ 'active' if is_paid }}">
        <h2 id="paid-tab-header">
          {%- if no_paid -%}
            <a href="#" class="tooltip disabled"
               title="{{ _('Paid mode requires that your app only supports Firefox OS.') }}">
               {{- _('Paid') -}}
            </a>
          {%- else -%}
            <a href="#">{{ _('Paid') }}</a>
          {%- endif -%}
        </h2>
        <div class="error">{{ form.errors.paid }}</div>
        {%- for item in form.fields['paid_platforms'].choices -%}
          {{ button(form, item) }}
        {%- endfor %}
        {% if not is_paid %}
          <div id="paid-tab-save" class="update-payment-type">
            <input type="submit" data-type="paid" value="{{ _('Change to Paid') }}" />
            {{ _('Changing to Paid will put your app back into review.') }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </form>
</section>
